<%= form_for @blogpost do |f| %>
  <fieldset>
    <dl>
      <dd><%= f.hidden_field :user_id %></dd>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>
      <dt><%= f.label :entry_text %></dt>
      <dd><%= f.text_area :entry_text %></dd>
    </dl>
  </fieldset>
  <p>
    <%= f.submit 'Save' %>
      | <%= link_to 'All Posts', user_path(@user) %>
  </p>
<% end %>