<%= form_for @blogpost do |f| %>
  <% if @blogpost.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @blogpost.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <dl>
      <dd><%= f.hidden_field :user_id %></dd>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>
      <dt><%= f.label :entry_text %></dt>
      <dd><%= f.text_area :entry_text %></dd>
    </dl>
  </fieldset>
  <p>
    <%= f.submit 'Save' %>
    <br />
    <%= link_to 'All Blogs', root_path %>
  </p>
<% end %>