<!DOCTYPE html>
<html>
<head>
  <title>JCBlog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head_yield %>
</head>
<body>
<%= yield %>
</body>
</html>