<!DOCTYPE html>
<html>
<head>
  <title>JCBlog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head_yield %>
</head>
<body>
  <div id="user_stuff">
    <%= yield :user_yield %>
    <%= link_to 'All Users', users_path %>
  </div>
  <div id="blogpost_stuff">
    <%= link_to 'New Blog', new_blogpost_path %>
    <%= yield :blogpost_yield %>
  </div>
</body>
</html>