<!DOCTYPE html>
<html>
<head>
  <title>JCBlog - User Admin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head_yield %>
</head>
<body>
  <div class="main_nav">
    <%= link_to 'Home', root_path %><br />
    <% if there_b_admins? %>
      <% if current_user && admin? %>
        <h4>Logged In as: <%= current_user.name %></h4>
        <%= link_to 'Logout', log_out_path %>
      <% else %>
        Error!
      <% end %>
    <% else %>
      There are no administrators for this site,
      so you are signing up as an administrator.
    <% end %>
  </div>
  <div class="contents">
    <%= yield %>
  </div>
</body>
</html>